vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Feb 2018 04:46:16 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|FLETPC\\Lance
vti_modifiedby:SR|FLETPC\\Lance
vti_timecreated:TR|23 Feb 2018 19:55:21 -0000
vti_backlinkinfo:VX|index.php admin.php search.php about.php
vti_syncwith_files.000webhost.com\:21:TX|23 Feb 2018 19:55:21 -0000
vti_syncofs_files.000webhost.com\:21:TW|23 Feb 2018 20:26:18 -0000
vti_syncofs_files.000webhost.com\:21/public_html:TW|24 Feb 2018 04:20:35 -0000
vti_syncwith_files.000webhost.com\:21/public_html:TX|23 Feb 2018 19:55:21 -0000
vti_syncwith_ftp.epizy.com\:21:TX|23 Feb 2018 19:55:21 -0000
vti_syncofs_ftp.epizy.com\:21:TW|24 Feb 2018 04:37:54 -0000
vti_syncwith_ftp.epizy.com\:21/htdocs:TX|25 Feb 2018 04:46:16 -0000
vti_syncofs_ftp.epizy.com\:21/htdocs:TW|25 Feb 2018 04:49:18 -0000
vti_nexttolasttimemodified:TW|24 Feb 2018 23:05:50 -0000
vti_cacheddtm:TX|25 Feb 2018 04:46:16 -0000
vti_filesize:IR|2971
vti_cachedlinkinfo:VX|S|Resources/mainbg_final3.jpg
vti_cachedsvcrellinks:VX|FSUS|Resources/mainbg_final3.jpg
