
/*NOTE: Atrributes sorted in Alphabetical Order (ignore punctuation)*/

.attrSearch
{
	margin:auto;
	width:28%;
	height:50px;
	opacity:.8;
	border:thin #fff solid;
	border-radius:5px 5px 5px 5px;
	font-size:28px;
	color:#fff;
	background:#000;
	display:inline-block;
}

body
{
	padding:0px;
	margin:0px;
	background:#000;
	font-family:Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	position:relative;
}


datalist
{
	
	opacity:.8;
	border:thin #fff solid;
	border-radius:5px 5px 5px 5px;
	font-size:28px;
	color:#fff;
	background:#000;
	font-family:"Times New Roman", Times, serif;
}

footer
{
	margin:auto;
	width:100%;
	bottom:0px;
	display:block;
}


#h
{
	opacity:0;
	transition:all 2s ease-in;
}


.headlink
{
	display:inline-block;
	margin:auto;
	margin-top:0px;
	margin-bottom:0px;
	color:#fff;
	text-decoration:none;
	font-size:20px;
	padding:1.15%;
	text-align:center;
	width:auto;
	font-family:"Times New Roman", Times, serif;
}

.headlink:hover
{
	background:#333;
}

.infolink
{
	text-decoration:none;
	color:#eee;
	font-weight:bold;
}

.infolink:hover
{
	text-decoration:underline;
	cursor:pointer;
}

#logo
{
	position:absolute;
	left:5%;
	display:block;
	height:6.5%;
}

#main
{
	position:relative;
	margin:auto;
	max-height:100%;
	height:92vh;
	width:100%;
	background:url('Resources/mainbg.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	opacity:.8;
	text-align:center;
	color:#fff;
	font-family:Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	font-kerning:auto;
}

#mainbar
{
	width:100%;
	height:auto;
	padding:0px;
	margin:auto;
	margin-top:0px;
	margin-bottom:0px;
	color:#fff;
	text-align:center;
	font-size:36px;
	font-family:Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}


nav
{
	margin:auto;
	margin-top:0px;
	margin-bottom:0px;
	background:inherit;
	color:#fff;	
	padding:0px;
	height:auto;
	text-align:center;
}

option
{
	
	opacity:.8;
	border:thin #fff solid;
	border-radius:5px 5px 5px 5px;
	font-size:28px;
	color:#fff;
	background:#000;
	font-family:"Times New Roman", Times, serif;
}

.result_display
{
	margin:auto;
	text-align:center;	
}

.result_display td
{
	border:thick blueviolet dashed;
}

.signstat
{
	display:inline-block;
	margin:auto;
	margin-top:0px;
	margin-bottom:0px;
	color:#fff;
	text-decoration:none;
	font-size:20px;
	padding:1.15%;
	text-align:center;
	width:auto;
	font-family:"Times New Roman", Times, serif;
	position:absolute;
	right:1%;
}

.signstat:hover
{
	background:#333;
}

#shill
{
	background:rgba(255, 255, 255, .7);
	display:inline;
	margin:2% auto auto auto;
	padding:20px 0px 20px 0px;
	color:#222;
	font-family:"Times New Roman", Times, serif;
	text-align:center;
	font-size: 24px;
	height:auto;
	width:100%;
}

#shill h3
{
	margin:0px;
	padding:0px;
	font-family:"Arial Narrow Bold", sans-serif;
	font-weight:lighter;
}

#shill h4
{
	margin:0px;
	padding:0px;
}

.shillLink
{
	text-decoration:none;
	display:block;
	border:thin #111 solid;
	border-radius: 5px 5px 5px 5px;
	color:#111;
	font-family:"Arial Narrow Bold", sans-serif;
	width:50%;
	margin:auto;
}

.shillLink:hover
{
	transition:all .125s ease-in-out;
	opacity:.8;
	background:#000;
	color:#fff;	
	border:thin #111 solid;
	cursor:pointer;
}



.tagline
{
	padding:0px;
	margin:1%;
	font-family:"Times New Roman", Times, serif;
}


.title
{
	margin-top:0px;
	padding-top:5%;
}


#uniSearch
{
	margin:auto;
	width:50%;
	height:75px;
	opacity:.8;
	border:thin #fff solid;
	border-radius:5px 5px 5px 5px;
	font-size:32px;
	color:#fff;
	background:#000;
}






